.primary
    .question_status
        | Question 21

    h1 Q.
    .question
        | Random Question

    ul.answers
        li
            a(href="#", id="a").answer blah a
        li
            a(href="#", id="b").answer blah b
        li
            a(href="#", id="c").answer blah c
        li
            a(href="#", id="d").answer blah d

.secondary
    .players_status

    ol.players
        li Chris
        li Jason
        li Jason 2

    ul.placement
        li 22. Chris
        li 23. Jason
        li 24. Jason 2

.last_question
